@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600");

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  line-height: 1.3rem;
}

a {
  color: #0000ff;
  text-decoration: none;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

h4 {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0;
}

code {
  background: #f0f0f0;
  padding: 2px 4px;
}

blockquote {
  margin: 0;
  padding: 4px 16px;
  background: #f0f0f0;
}

ul {
  padding: 0 1rem;
}

.list {
  width: 100%;
  max-width: 540px;
  margin: 3rem 1rem;
}

.list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  margin: 0.4rem 0;
}

.page-title {
  margin-bottom: 2rem;
}

.post,
.page {
  width: 100%;
  max-width: 540px;
  margin: 3rem 1rem;
}

.post-title {
  margin-top: 2rem;
}

.post img {
  max-width: 100%;
}

.post-date {
  color: #888;
  margin-bottom: 1.8rem;
}

footer {
  margin-top: 2rem;
}

footer a {
  color: #888;
}
