<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/style.css' | url }}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <main class="list">
      <h1 class="page-title">Michael Jach</h1>
      <ul>
        {%- for post in collections.post -%}
        <li>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
        {%- endfor -%}
      </ul>
      <footer>
        <ul>
          {%- for page in collections.page -%}
          <li>
            <a class="footer-link" href="{{ page.url | url }}">
              {{ page.data.title }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </footer>
    </main>
  </body>
</html>
